<!DOCTYPE html>
<html>
  <head>
    <title>RailsExercise</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>AC 10 exercise</h1>
    <%= yield %>

    <footer>
      <%= link_to "todos", todos_path %> |
      <%= link_to "chat", messages_path %>
    </footer>
  </body>
</html>
